/* dark */
body.dark navbar {
    background: #613f7a;
}

body.dark .fable-card {
    background: #4a4a4a;
}

body.dark .fable-card.is-section {
    background: #486847;
}

body.dark .browser-card-title.is-section {
    background: #223021;
}


body.dark .browser-card-title {
    background: #4a4a4a;
}


/* light */

body.light navbar {
    background: #ddb0fd;
}


body.light .fable-card {
    background: #d7d7d7;
}

body.light .fable-card.is-section {
    background: #c3dca9c0;
}