body {

  font-family: sans-serif;

}


sidebar .browser-cards {
  font-family: 'Source Code Pro', monospace;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2 !important;
}


body.sidebar-closed #sidebar-wrapper {
  display: none !important;
}

body.sidebar-open #main {
  width: calc(100% - 350px);
}

body.sidebar-closed #main {
  width: 100%;
}




.browser-card {
  background: none;
}


.fable-card {

  position: relative;
  border-radius: 10px;
}



.is-section {

  grid-column-start: 1;
  grid-column-end: -1;
}

/* full view */


body.page-view .cards {
  max-width: 800px;
  margin: auto;
  overflow: hidden !important;
}

body.page-view.full-width .cards {
  max-width: 100% !important;
  margin: auto;
  overflow: hidden !important;

}


body.page-view .fable-card {
  margin-bottom: 10px;
  padding: 15px 50px;
}



/* end full view */



/*  card view */
body.card-view .fable-card .ProseMirror {
  overflow-y: auto;
}

body.card-view .cards {
  display: grid;
  grid-gap: 7px;
  /* grid-auto-rows: 230px; */
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));

}

body.card-view .cards .fable-card {
  height: 230px;
}

body.card-view .cards .fable-card.is-section {
  height: auto;

}

/* end card view */



.btn-dark {}

.btn-dark.active {
  background-color: #282828;

}



navbar {
  padding: 8px;
}


body,
html,
#app,
.scripts-grid {
  height: 100%;
}

.modal-content {
  border: 0 !important;
}


.browser-card .browser-card-title.has-focus,
.fable-card.has-focus {
  box-shadow: -5px 0 0 0 rgba(0, 128, 0, 0.543);


}

body.dark #view-mode-buttons .btn {
  padding: 7px 12px;
}

#navbar .btn {
  margin-right: 5px;
}

#navbar #view-mode-buttons .btn {
  margin-right: 0;
}

#navbar #view-mode-buttons {
  margin-right: 7px;
}

body.light #signin-form-wrapper {
  background: white;
}

body.dark #signin-form-wrapper {
  background: black;
}