body {

  font-family: sans-serif;
}


sidebar .browser-cards {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Source Code Pro', monospace;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2 !important;
}


body.sidebar-closed sidebar {
  display: none !important;
}







.browser-card {
  background: none;
}


.fable-card {

  position: relative;
  border-radius: 10px;
}



.is-section {

  grid-column-start: 1;
  grid-column-end: -1;
}

/* full view */


body.page-view .cards {
  max-width: 800px;
  margin: auto;
  overflow: hidden !important;
}

body.page-view.full-width .cards {
  max-width: 100% !important;
  margin: auto;
  overflow: hidden !important;

}


body.page-view .fable-card {
  margin-bottom: 10px;
}



/* end full view */



/*  card view */
body.card-view .fable-card .ProseMirror {
  overflow: scroll;
}

body.card-view .cards {
  display: grid;
  grid-gap: 7px;
  /* grid-auto-rows: 230px; */
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));

}

body.card-view .cards .fable-card {
  height: 230px;
}

body.card-view .cards .fable-card.is-section {
  height: auto;

}

/* end card view */



.btn-dark {
  background-color: #313131 !important;
  border: none !important;
  color: rgb(156, 156, 156) !important;
}

.btn-dark.active {
  background-color: #565656 !important;
  border: none !important;
}


navbar {
  padding: 8px;
}


body,
html,
#app,
.scripts-grid {
  height: 100%;
}