.ProseMirror {
    font-size: 17px;
    padding: 15px 0 15px 15px;
}

.cards .ProseMirror p {
    line-height: 1.2;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 15px 0 0;
    /* font-family: 'Source Code Pro', monospace; */

}




.char {
    margin-left: 30% !important;
    text-transform: uppercase;
}

.scene {
    text-transform: uppercase;
    font-weight: bold;
}

.dia {
    margin-left: 20% !important;
    margin-right: 10% !important;
}

.pars {
    margin-left: 25% !important;
}

.center {
    text-align: center;
}


.synopsis {
    /* background: rgb(232, 232, 232);
    padding: 7px 25px; */
    border-radius: 7px;
    width: 97%;
    /* font-style: italic; */
    /* color: rgb(124, 124, 124); */
    font-weight: 100;
    /* font-family: 'Courier New', Courier, monospace; */
}

.is-section .synopsis {
    /* background: rgba(232, 232, 232, 0.439); */

}




p.section {
    font-weight: bold;
}


.modifier {
    opacity: .5;
    font-weight: normal !important;
}

.note {

    background: #c6f08694;
    padding: 2px 7px;
    color: rgb(37, 37, 37);
    font-weight: normal;
    font-style: italic;
    border-radius: 9px;
    text-transform: none;
}


.ProseMirror * {
    white-space: pre-wrap;
    word-wrap: break-word;
}

body.resizing #content {
    display: none;
}